@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body {
  background: #2c3e50;
  font-family: 'Open Sans', sans-serif;
}

.profile-input {
  background: #fff;
  border-radius: 10px;
  padding: 20px 50px;
  width: 30%;
  margin: 50px auto 0;
  box-shadow: 10px 10px 10px rgba(0,0,0, 0.3);

  h1 {
    margin: 0;
    color: #8e44ad;
  }

  .input-wrap {
    position: relative;
    width: 100%;
    margin-top: 25px;

    label {
      color: #9b59b6;
      display: block;
      position: absolute;
      //top: 0px;
      top: -25px;
      left: 5px;
      width: 100%;
      transition: all 0.2s;
      cursor: text;
    }

    input {
      line-height: 20px;
      display: block;
      width: 100%;
      outline: none;

      &:focus {
        outline: none !important;
        & + label {
          top: -25px;
          font-size: 16px;
        }
      }
    }
  }
}


.profile-view {
  width: 50%;
  margin: 0 auto;

  h2 {
    color: #fff;
  }

  .badges {
    width: 100%;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;

    li {
      width: 15%;
      margin: 20px;

      img {
        width: 100%;
      }

      .badge-data {
        color: #fff;
        font-weight: bold;
        font-size: 12px;
        text-align: center;
      }
    }
  }
}

.badge.ng-move,
.badge.ng-enter,
.badge.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.badge.ng-leave.ng-leave-active,
.badge.ng-move,
.badge.ng-enter {
  opacity:0;
}

.badge.ng-leave,
.badge.ng-move.ng-move-active,
.badge.ng-enter.ng-enter-active {
  opacity:1;
}
