@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
body, html {
  background: #2c3e50;
  font-family: 'Open Sans', sans-serif; }

.profile-input {
  background: #fff;
  border-radius: 10px;
  padding: 20px 50px;
  width: 30%;
  margin: 50px auto 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3); }
  .profile-input h1 {
    margin: 0;
    color: #3f51b5; }
  .profile-input .input-wrap {
    position: relative;
    width: 100%;
    margin-top: 25px; }
    .profile-input .input-wrap label {
      color: #3f51b5;
      display: block;
      position: absolute;
      top: -25px;
      left: 5px;
      width: 100%;
      transition: all 0.2s;
      cursor: text; }
    .profile-input .input-wrap md-input-container {
      width: 100%; }

.profile-view {
  width: 50%;
  margin: 0 auto; }
  .profile-view h2 {
    color: #fff; }
  .profile-view .badges {
    width: 100%;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 0; }
    .profile-view .badges li {
      width: 15%;
      margin: 20px; }
      .profile-view .badges li img {
        width: 100%; }
      .profile-view .badges li .badge-data {
        color: #fff;
        font-weight: bold;
        font-size: 12px;
        text-align: center; }

.loading {
  width: 100%;
  max-width: 36%;
  margin: 40px auto 0; }
  .loading md-progress-circular {
    margin: 0 auto; }
    .loading md-progress-circular path {
      stroke: #fff; }

.error {
  color: #ff0000; }
